services:
  chatbot:
    build: ./chatbot
    container_name: chatbot
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      MATRIX_ACCESS_TOKEN: ${GENERALBOT_ACCESS_TOKEN}
      MATRIX_USER_ID: ${GENERALBOT_USER_ID}
      ALLOWED_USERS: ${GENERALBOT_ALLOWED_USERS}
    volumes:
      - ./chatbot/data:/app
      - ./chatbot/config:/app/config   # host-mounted config.js

  codebot:
    build: ./codebot
    container_name: codebot
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      MATRIX_ACCESS_TOKEN: ${CODEBOT_ACCESS_TOKEN}
      MATRIX_USER_ID: ${CODEBOT_USER_ID}
      ALLOWED_USERS: ${CODEBOT_ALLOWED_USERS}
    volumes:
      - ./codebot/data:/app
      - ./codebot/config:/app/config      # host-mounted config.js
